<h1>Welcome to {{title}}! </h1>
  <p>This is parent component.</p>

    <p>Student in parent component: {{ student.name }} </p>
<hr>

<!-- [studentFromParent] = "student" ===> this means we are passing "student" object into child component
  and we are "naming" it "studentFromParent" so that's the name we will be using in child component
  for that object -->
<!-- (onSend) = receiveData($event) ===> this is where we are passing data from child to parent component;
we always have to use "$event" here-->

<!-- here we nest first-nested component so it becomes child component of app component -->
<app-first-nested [studentFromParent] = "student" (onSend) = receiveData($event)  ></app-first-nested>
